<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.com" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit task</title>
</head>
<body>
<h1>Edit task</h1>
<form action="/task/edit" method="post">
    <input type="hidden" name="id" th:value="${task.id}">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required th:value="${task.title}">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" name="description" required th:text="${task.description}"></textarea>
    </div>
    <div>
        <label for="priority">Priority</label>
        <input type="number" id="priority" name="priority" required th:value="${task.priority}">
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>