<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.com" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examples</title>
</head>
<body>
<div th:if="${name!=null}">
    <p>Hello, <span th:text="${name}"></span></p>
</div>

<!--Итерация по списку-->

<ul>
    <li th:each="department : ${departments}" th:text="${department}"></li>
</ul>

<!-- Вставка значений из обьекта  -->

<p th:text="${user.name}"></p>
<p th:text="${user.email}"></p>


<!-- Форма -->
<form th:object="${user}" th:action="@{/example/save}" th:method="post">
    <input type="text" placeholder="Name" th:field="*{name}">
    <input type="email" placeholder="Email" th:field="*{email}">
    <button type="submit">Save</button>
</form>


<!-- Вставка фрагментов -->
<div th:insert="~{example/fragments/header :: header}"></div>
<div th:insert="~{example/fragments/footer :: footer}"></div>


</body>
</html>